<ion-header>
	<ion-toolbar class="deaths-menu">
		<ion-title>My Deaths Search by Responsible</ion-title>
		<ion-back-button></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search by Responsible" name="search" [(ngModel)]="searchTerm"  cancelButtonText="Cancel"></ion-searchbar>
  <ion-list>
    <div *ngFor="let death of deaths | async">
      <ion-item *ngIf="searchDeath(death)">
      <p>{{ death.death }} </p>
    </ion-item>
    </div>
  </ion-list> 


  
</ion-content>


<!--
<ion-content>
  <ion-searchbar name="search" [(ngModel)]="searchTerm"  (ionChange)="searchDeath($event)" cancelButtonText="Cancel"></ion-searchbar>
  <ion-list>
    
      <ion-item  *ngFor="let death of (deaths | async)" [routerLink]="['death-count?name=', 'deaths', death.death ]">
      <p>{{ death.death }} </p>
    </ion-item>
    
  </ion-list> 


  
</ion-content>
-->