<ion-header>
	<ion-toolbar class="movie-menu">
		<ion-title  >
        Episodes   
        </ion-title>
		<ion-back-button></ion-back-button>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item  button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
			{{  episode.title }}
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer size="small">
  <ion-toolbar >
    <ion-title size="small">Made by Tatiana Silva</ion-title>
  </ion-toolbar>
</ion-footer>
