.characters-menu {
    --background: rgb(5, 180, 5);
    color: white;
    font-size: 100px;
    text-align: center;
    
}

img {
  border-radius: 50%;
  
}

.characters-title {
    background: rgb(215, 247, 215);
    color: white;
    font-size: 20px;
    text-align: center;
    height: 10px;

        
    
}

.characters-card {
    --background: rgb(215, 247, 215);
    
}
