<ion-header>
	<ion-toolbar class="movie-info">
		<ion-buttons slot="start" defaultHref="/tabs/(episodes: episodes)">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Episode: {{episode?.episode}}</ion-title>
		<ion-buttons slot="end">
       
			<ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
				<ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only" color="dark"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-card *ngIf="episode" class="movie-card" >
		<ion-card-header class="movie-title" style="zoom:1.5" > 
           <ion-text color="dark"> {{ episode.title }}</ion-text> 
        </ion-card-header>
        <ion-card-content>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="film-outline" slot="start"></ion-icon>
			{{ episode.series }}
		</ion-item>			
		
		<ion-item class="movie-info" lines="none">
			<ion-icon name="calendar" slot="start"></ion-icon>
			{{ episode.air_date }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="people-outline" slot="start"></ion-icon>

            <div ng-repeat="episode.characters in somedata.split(',')">{{ episode.characters }}</div>
			
		</ion-item>
        </ion-card-content>
	</ion-card>

    
  <!--<button ion-button full color="secondary" (click)="shareFilm()">Share by Email</button>-->
</ion-content>


