<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title size="small">Episode Details</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
				<ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
			<ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
				<ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-card *ngIf="episode" class="movie-card" text-center>
		<ion-card-header color="secondary"> 
            {{ episode.series }} 
        </ion-card-header>
         Episode {{ episode.episode }} 

		<ion-card-content>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="film-outline" slot="start"></ion-icon>
			{{ episode.title }}
		</ion-item>			
		
		<ion-item class="movie-info" lines="none">
			<ion-icon name="calendar" slot="start"></ion-icon>
			{{ episode.air_date }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="people-outline" slot="start"></ion-icon>

            <div ng-repeat="episode.characters in somedata.split(',')">{{ episode.characters }}</div>
			
		</ion-item>
        </ion-card-content>
	</ion-card>

    
  <!--<button ion-button full color="secondary" (click)="shareFilm()">Share by Email</button>-->
</ion-content>


