.movie-card {
    background: rgb(7, 196, 7);
    border: 1px solid var(--ion-color-light);
}
.movie-info {
    --background: rgb(rgb(5, 180, 5));
    
}

/*
.movie-title {
    --background: rgb(170, 248, 170);
    
}
*/

  ion-item {
    --border-color: var(--ion-color-light);
    --detail-push-color: var(--ion-color-light);
  }