.episode-menu {
    --background: rgb(5, 180, 5);
    color: white;
    font-size: 40px;
    text-align: center;
    
}

.favorite{
    color: white;
    
}
.episode-title {
    background: rgb(215, 247, 215);
    color: white;
    font-size: 20px;
    text-align: center;

        
    
}
.episode-info {
    --background: white <!-- rgb(227, 247, 227)-->;
    
}


.episode-card {
    --background: rgb(215, 247, 215);
    
}


  ion-item {
    --border-color: var(--ion-color-light);
    --detail-push-color: var(--ion-color-light);
  }